html body,
.UAhMSe,
.VqwjLc,
.ndJi5d,
.whsOnd,
.mkAmGc,
.gb_na svg {
  color: #fff;
}

c-wiz,
.gb_Td {
  background-color: #595959;
}

.JxwFvb,
.UAhMSe,
.zRQsB {
  background-color: #2c2c2c;
}

.UAhMSe:hover {
  background-color: #cacaca;
  color: #3e3e3e;
}

.BBUao {
  background-color: #9b9b9b;
}


.p4Gq7c {
  color: #e5e5e5;
}

.rGeoUc:hover,
.rGeoUc:focus {
  background-color: #3f3f3f;
}

.g3VIld {
  background-color: #4f4f4f;
}

.OVCSwb {
  color: #dedcdc;
}

.ZFr60d {
  background-color: #f000;
}

.AMQ8ib,
.ntbhud {
  color: #c4c4c4;
}

.qEQvMe {
  background-color: transparent;
}

.SfTvkc,
.ix5TS {
  color: #8ab6ff;
}

.gb_z[aria-expanded="true"] {
  fill: #fff;
}

.gb_z[aria-expanded="true"],
.gb_z:hover[aria-expanded="true"] {
  background-color: rgba(224, 224, 224, 0.24);
}

.gb_yc .gb_Ze.gb_0e button:hover svg,
.gb_Ze button:hover svg,
.gb_z:hover {
  background-color: rgba(255, 255, 255, 0.08);
}